body, html {
	font-size: 16px;
}

.inline {
	display: inline-block;
}

#nav {
	margin: -4px auto 15px auto;
}

label {
	font-size: 16px;
}
input {
	padding: 12px 6px;
}
input[type="date"] {
	padding: 13px 6px;
}
select {
	height: 48px
}

.confirm {
	margin-top: 15px;
}

.inactive {
	color: #999;
	}
	a.inactive:hover {
		color: #222;
	}

/* Genre colour coding */
.Funny {
	color: #FF6400;
	}
	.active > a.Funny, .active > a.Funny:hover {
		background-color: #FF6400;
}
.Scary {
	color: #E40045;
	}
	.active > a.Scary, .active > a.Scary:hover {
		background-color: #E40045;
}
.Serious {
	color: #009999;
	}
	.active > a.Serious, .active > a.Serious:hover {
		background-color: #009999;
}
.SciFi {
	color: #810689;
	}
	.active > a.SciFi, .active > a.SciFi:hover {
		background-color: #810689;
}
.TV {
	color: #67E300;
	}
	.active > a.TV, .active > a.TV:hover {
		background-color: #67E300;
}
.Indie {
	color: #A63F00;
	}
	.active > a.Indie, .active > a.Indie:hover {
		background-color: #A63F00;
	}
.Doco {
	color: #1B1BB3;
	}
	.active > a.Doco, .active > a.Doco:hover {
		background-color: #1B1BB3;
}
